/* Global Styles and header styles */

html {
  /* Image Citation: 
  badrus. (n.d.). Vector space background. Cute flat style template with Stars in Outer space. Retrieved from https://stock.adobe.com/images/vector-space-background-cute-flat-style-template-with-stars-in-outer-space/290108391?prev_url=detail.  */
    background-image: url('Images/AdobeStock_290108391.jpeg');
    background-size: cover;
    color: #19bf45;
}

body {
  width: 1280px;
}

h1 {
    font-size: 200px;   
    /* Font Citation: Designed by Maximiliano Sproviero. From Sproviero Type.
https://fonts.adobe.com/fonts/beatle#fonts-s */
    font-family: beatle, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: black 0px 0px 90px;
    padding-top: 20px;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-top: 1px;
}

.blacker-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin:auto;
    width: 75%;
    border-radius: 25px;
    padding-top: 1px;
}

.blackest-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin:auto;
    width: 60%;
    border-radius: 25px;
    padding-top: 1px;
}

p {
  /* Font Citation: Designed by Novia Jonatan. From Sudtipos. https://fonts.adobe.com/fonts/glodok */
    font-family: glodok, monospace;
    color:#FF446C;
}

header p {
    font-size: 25px;
}

.bold-paragraph {
    font-size: 20px;
    padding-bottom: 15px;
}

h2 {
  /* Font Citation: Designed by James Edmondson. From OH no Type Co..
  https://fonts.adobe.com/fonts/ohno-blazeface */
    font-family: 'ohno-blazeface', 'Brush Script MT', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 75px;
}

h3 {
  /* Font Citation: Designed by James Edmondson. From OH no Type Co..
  https://fonts.adobe.com/fonts/ohno-blazeface */
    font-family: 'ohno-blazeface', 'Brush Script MT', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
}



/* Navigation Styling */
nav ul {
    padding-top: 20px;
    list-style-type: none;
    color: #00B7FF;
}

li {
    display: inline;
    margin: 45px;
    font-size: 40px;
    font-weight: 100;
}

a {
    font-family: 'glodok', 'Courier New', monospace;;
    font-style: normal;
    font-weight: 100;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: inherit;
  } 

  /* Shopping Section styling */
 
  #shopping h2 {
    padding-top: 70px;
    margin: auto;
  }

  #shopping p {
    font-size: 20px;
  }

  button {
    background-color: #00B7FF; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
  }

  #shopping h3 {
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #shopping form {
    display: block;

  }

  #shopping label {
    padding: 5px;
  }

  #textGuess {
    margin-bottom: 10px;
  }

  #submit {
    display: block;
    background-color:#00B7FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    margin: 0 auto;
  }





  /* Stream Section Styling */

  #stream h2 {
    margin: auto;
    padding-top: 70px;
  }

  #stream p {
    font-size: 20px;
  }

/* Highlights Section Styling */

#highlights h2 {
    margin: auto;
    padding-top: 70px;
  }

  #highlights p {
    font-size: 20px;
  }


  /* Cosmic Dust Club Styling */

  #cosmic h2 {
    margin: auto;
    padding-top: 70px;
  }

  #cosmic p {
    font-size: 20px;
  }


  label {
    display: block;
    margin-top: 15px;
  }

  fieldset {
    width: auto;
  }

  fieldset legend {
    padding-top: 10px;
  }

  fieldset label {
    display: inline-block;
    margin: 10px;
  }

  #submit-button {
    display: block;
    background-color:#00B7FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
  }

  #finalOutput {
    padding: 15px;
  }
